.lightbox_title {
    padding: 5px;
}

.lightbox_images .lightbox_primary_image {
    padding: 5px;
}

.lightbox_images .lightbox_primary_image img {
    margin: 0 auto; /* centers image */

    display: block;
    max-width: 700px;
    max-height: 525px;
    width: auto;
    height: auto;
    overflow: hidden;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

}

.description {
    padding: 5px;
}