.cawp_slider {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 800px;
    height: 300px;
    /*box-sizing: border-box;*/
    overflow: hidden;
}

.cawp_slider_wrapper {
    overflow: hidden;
    position: relative;
    height: 280px;
    top: auto;
}

/*Navigation */
.slider_nav {
    position: absolute;
    top: 45%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    /*opacity: 0.6;*/
}

.slider_nav:hover {
    /*opacity: 0.9;*/
}

#prev {
    float: left;
    url(prev.png);
}

#next {
    float: right;
    url(next.png);
}

.cawp_item {
    width: 240px;
    padding: 10px;
    position: relative;
    float: left;
}

.cawp_item_image {
    display: block;
    overflow: hidden;
    height: 180px;
    width: 240px;
    border-radius: 6px;
}

.cawp_item_title {
    text-align: center;
}